<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104169704966-d4r9i073745seu51g7f4rguoahb36p61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104169704966-d4r9i073745seu51g7f4rguoahb36p61</string>
	<key>API_KEY</key>
	<string>AIzaSyCsOee8NXDUmM--Tac8yrK_N_VoD0Tcc0A</string>
	<key>GCM_SENDER_ID</key>
	<string>104169704966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>genesis.Safari-Grill</string>
	<key>PROJECT_ID</key>
	<string>safarigrill-5dd26</string>
	<key>STORAGE_BUCKET</key>
	<string>safarigrill-5dd26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104169704966:ios:8e542aab7b44c237e53d87</string>
</dict>
</plist>